<a href="https://colab.research.google.com/github/ricardo-trivino/Pandas/blob/master/Proyecto_Mermas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1187]:
#Cargar el drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1188]:
# Importar librerías necesarias
# Pandas
import pandas as pd
#Activar renderización de las tablas
%load_ext google.colab.data_table
#Desactivar renderización de las tablas
#%unload_ext google.colab.data_table

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table

## 1. Carga de datos

In [ ]:
# Cargar los datos
mermas=pd.read_csv('https://raw.githubusercontent.com/ricardo-trivino/Pandas/master/Mermas_AGO.csv')
EVA=pd.read_csv('https://raw.githubusercontent.com/ricardo-trivino/Pandas/master/Evaluaciones_Agropecuarias_Municipales_EVA.csv')
precios=pd.read_csv('https://raw.githubusercontent.com/ricardo-trivino/Pandas/master/global-food-prices-database-wfp-1.csv')
datos_faostat=pd.read_csv('https://raw.githubusercontent.com/ricardo-trivino/Pandas/master/FAOSTAT_data_9-18-2021.csv')

In [ ]:
mermas.head(3)

In [ ]:
EVA.head(3)

In [ ]:
precios.head(3)

In [ ]:
datos_faostat.head(3)

## 2. Limpieza y selección de los datos

### 2.1 Mermas Olimpica Zipaquirá

In [ ]:
# Considerar solo las columnas que nos interesan
mermas = mermas[['PROVEEDOR','PRODUCTO', 'GRUPO', 'CANTIDAD(KG)', 'CONDICION']]
mermas.head(3)

In [ ]:
#Llenar los valores null, sabiendo que su valor es el mismo que el último campo lleno
mermas=mermas.fillna(method='ffill')
mermas.head(3)

In [ ]:
#Función que retorna el proveedor al que mas se le compra un producto
def mayor():
  mayor = 0
  for i in df.index:
    if(df["CANTIDAD(KG)"][i]) > mayor:
      mayor = df["CANTIDAD(KG)"][i]
    else:
      mayor = mayor
  return df["PROVEEDOR"][mayor]

# Unificar los productos para saber su cantidad total por mayor proveedor
df = {'PROVEEDOR': 'max', 'GRUPO': 'first', 'CANTIDAD(KG)': 'sum', 'CONDICION': 'max'}
mermas = mermas.groupby('PRODUCTO', as_index=False).aggregate(df).reindex(columns=mermas.columns)
mermas.rename(columns={'CANTIDAD(KG)':'CANTIDAD_MERMA(KG)'}, inplace=True)
mermas.head(45)

In [ ]:
# Seleccionar las columnas candidatas
mermas = mermas[['PRODUCTO', 'GRUPO']]
mermas.head(3)

In [ ]:
# Reemplazar los nombres de los productos por el estándar nacional
mermas['PRODUCTO'] = mermas['PRODUCTO'].map({
    'AGUACATE HASS': 'Aguacate',
    'AHUYAMA ZAPAYO': 'Ahuyama',
    'ARANDANOS': 'Arandano',
    'CEBOLLA CABEZONA': 'Cebolla de bulbo',
    'CEBOLLA JUNCA': 'Cebolla de rama',
    'ESPINACA': 'Espinaca',
    'LECHUGA': 'Lechuga',
    'MANDARINA': 'Mandarina',
    'MANGO TOMMY': 'Mango',
    'MANZANA ROYAL CHILENA': 'Manzana',
    'MANZANA VERDE': 'Manzana',
    'MELON': 'Melon',
    'NARANJA': 'Naranja',
    'PAPA': 'Papa',
    'PAPAYA COMUN': 'Papaya',
    'PAPAYA COMUN REDONDA': 'Papaya',
    'PATILLA BABY': 'Patilla',
    'PEPINO COHOMBRO': 'Pepino cohombro',
    'PIMENTON': 'Pimenton', 
    'PINA GOLDEN': 'Pina',
    'REMOLACHA': 'Remolacha',
    'SANDIA': 'Patilla',
    'TOMATE DE ARBOL': 'Tomate de arbol',
    'TOMATE RIO': 'Tomate',
    'UVA COMUN': 'Uva'},
na_action=None)
mermas.head(3)

### 2.2 Evaluaciones Agropuecuarias Municipales

In [ ]:
#Seleccionar las columnas de interés
EVA = EVA[['DEPARTAMENTO', 'MUNICIPIO', 'GRUPO CULTIVO SEGUN ESPECIE', 'CULTIVO', 'ANO', 'PERIODO', 'PRODUCCION (T)', 'CICLO DEL CULTIVO']]
EVA.head(3)

In [ ]:
# Identificar campos null
EVA.isna().sum()

In [ ]:
#Consultar cantidad total de filas y columnas
EVA.shape

In [ ]:
#Eliminar campos con todos sus valores null
EVA = EVA[EVA['MUNICIPIO'].notna()]

In [ ]:
#Consultar cantidad total de filas y columnas
EVA.shape

In [ ]:
EVA.head(3)

In [ ]:
# Cambiar nombres a columnas
EVA.rename(columns={'GRUPO CULTIVO SEGUN ESPECIE':'GRUPO'}, inplace=True)
EVA.rename(columns={'CULTIVO':'PRODUCTO'}, inplace=True)
EVA.head(3)

In [ ]:
# Normalizar el nombre de los productos que nos interesan
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['AGUACATE'],'Aguacate')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['AHUYAMA'],'Ahuyama')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['ARANDANO'],'Arandano')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['CEBOLLA DE BULBO'],'Cebolla de bulbo')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['CEBOLLA DE RAMA'],'Cebolla de rama')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['ESPINACA'],'Espinaca')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['LECHUGA'],'Lechuga')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['MANDARINA'],'Mandarina')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['MANGO'],'Mango')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['MANZANA'],'Manzana')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['MELON'],'Melon')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['NARANJA'],'Naranja')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['PAPA'],'Papa')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['PIÑA'],'Pina')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['REMOLACHA'],'Remolacha')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['PATILLA'],'Patilla')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['TOAMTE DE ARBOL'],'Tomate de arbol')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['TOMATE'],'Tomate')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['UVA'],'Uva')
EVA['PRODUCTO'] = EVA['PRODUCTO'].replace(['UVA CAIMARONA'],'Uva')
EVA.head(3)

In [ ]:
# Filtrar filas de los productos que nos interesan unicamente
EVA = EVA[EVA.PRODUCTO.isin([
                             'Aguacate', 'Ahuyama', 'Arandano', 'Cebolla de bulbo', 'Cebolla de rama',
                             'Espinaca', 'Lechuga', 'Mandarina', 'Mango', 'Manzana',
                             'Melon', 'Naranja', 'Papa', 'Papaya', 'Patilla',
                             'Pepino cohombro', 'Pimenton', 'Pina', 'Remolacha', 'Tomate de arbol',
                             'Tomate', 'Uva'
                             ])]
EVA.head(3)

In [ ]:
# Convertir las cantidades de producción de un producto a KG
for i in EVA.index:
  EVA["PRODUCCION (T)"][i] = EVA["PRODUCCION (T)"][i] * 1000
EVA.rename(columns = {'PRODUCCION (T)':'PRODUCCION (KG)'}, inplace = True)
EVA.head(3)

In [ ]:
EVA.shape

### 2.3 Global food prices

In [ ]:
# Filtrar por colombia
colombia=precios[precios["adm0_name"]=='Colombia']
colombia.head(3)

In [ ]:
# Seleccionar las columnas de interés
colombia = colombia[['adm1_name', 'mkt_name', 'cm_name', 'cur_name', 'mp_month', 'mp_year', 'mp_price']]
colombia.head(3)

In [ ]:
# Cambiar el nombre a las columnas
colombia.rename(columns={'adm1_name':'DEPARTAMENTO'}, inplace=True)
colombia.rename(columns={'mkt_name':'MUNICIPIO'}, inplace=True)
colombia.rename(columns={'cm_name':'PRODUCTO'}, inplace=True)
colombia.rename(columns={'cur_name':'MONEDA'}, inplace=True)
colombia.rename(columns={'mp_month':'MES'}, inplace=True)
colombia.rename(columns={'mp_year':'ANO'}, inplace=True)
colombia.rename(columns={'mp_price':'PRECIO'}, inplace=True)
colombia.head(3)

In [ ]:
# Normalizar el nombre de los productos que nos interesan
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Avocados - Retail'],'Aguacate')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Squashes - Retail'],'Ahuyama')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Onions (red) - Wholesale'],'Cebolla de bulbo')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Onions (white) - Wholesale'],'Cebolla de rama')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Spinach - Wholesale'],'Espinaca')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Lettuce - Retail'],'Lechuga')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Mangoes - Retail'],'Mango')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Mangoes - Wholesale'],'Mango')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Apples - Retail'],'Manzana')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Apples (red) - Retail'],'Manzana')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Apples (red)- Wholesale'],'Manzana')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Oranges - Retail'],'Naranja')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Oranges (big size) - Retail'],'Naranja')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Oranges (big size) - Wholesale'],'Naranja')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Potatoes - Wholesale'],'Papa')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Potatoes (unica) - Wholesale'],'Papa')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Papaya - Wholesale'],'Papaya')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Cucumbers (greenhouse) - Wholesale'],'Pepino cohombro')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Tomatoes - Wholesale'],'Tomate')
colombia['PRODUCTO'] = colombia['PRODUCTO'].replace(['Tomatoes (dried) - Wholesale'],'Tomate')
colombia.head(3)

In [ ]:
# Filtrar filas de los productos que nos interesan unicamente
colombia = colombia[colombia.PRODUCTO.isin([
                                            'Aguacate', 'Ahuyama', 'Arandano', 'Cebolla de bulbo', 'Cebolla de rama',
                                            'Espinaca', 'Lechuga', 'Mandarina', 'Mango', 'Manzana',
                                            'Melon', 'Naranja', 'Papa', 'Papaya', 'Patilla',
                                            'Pepino cohombro', 'Pimenton', 'Pina', 'Remolacha', 'Tomate de arbol',
                                            'Tomate', 'Uva'
                                            ])]
colombia.head(3)

In [ ]:
# Cambiar el mes a periodo para unificar con otros dataset
colombia.rename(columns = {'PRECIO':'PRECIOxKG'}, inplace = True)

for i in colombia.index:
  if ((int (colombia["MES"][i]) > 0) and (int (colombia["MES"][i]) <= 6)):
    colombia["MES"][i] = str (colombia["ANO"][i]) + 'A'
  elif (colombia["MES"][i] > 6 and colombia["MES"][i] <= 12):
    colombia["MES"][i] = str (colombia["ANO"][i]) + 'B'
  else:
    colombia["MES"][i] = str (colombia["ANO"][i])
colombia.rename(columns={'MES':'PERIODO'}, inplace=True)

In [ ]:
colombia.head(3)

In [ ]:
# Mantener únicamente las columnas que nos interesan
precios_colombia = colombia[['DEPARTAMENTO', 'MUNICIPIO', 'PRODUCTO', 'PERIODO', 'ANO', 'PRECIOxKG']]
precios_colombia.head(1500)

In [ ]:
precios_colombia.shape

In [ ]:
# Unificar usando por periodo de cada año usando group by
precios_colombia = precios_colombia.groupby(['DEPARTAMENTO','MUNICIPIO','PRODUCTO','PERIODO','ANO']).PRECIOxKG.mean()
precios_colombia = precios_colombia.to_frame()

# Redondear a máximo dos decimales el precio
for i in precios_colombia.index:
  precios_colombia["PRECIOxKG"][i] = round(precios_colombia["PRECIOxKG"][i], 2)
precios_colombia.shape

In [ ]:
precios_colombia.head(30)

### 2.4 FAOSTAT

In [ ]:
datos_faostat.head(3)

In [ ]:
# Seleccionar las columnas de interés
datos_faostat = datos_faostat[['Elemento', 'Producto', 'A?o', 'Unidad', 'Valor']]
datos_faostat.head(3)

In [1223]:
# Filtrar la columna elemento por producción que son los datos que nos interesan
produccion = datos_faostat[datos_faostat["Elemento"] == 'Producci?n']
produccion.head(3)

     Elemento         Producto   A?o     Unidad    Valor
0  Producci?n  Aceite, algod?n  1961  toneladas  20098.0
1  Producci?n  Aceite, algod?n  1962  toneladas  21816.0
2  Producci?n  Aceite, algod?n  1963  toneladas  19238.0

In [1224]:
# Normalizar el nombre de los productos que nos interesan
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Aguacates'],'Aguacate')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Calabazas, zapayo, calabaza confitera'],'Ahuyama')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Cebollas, secas'],'Cebolla de bulbo')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Espinacas'],'Espinaca')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Tangerinas, mandarinas, clementinas, satsumas'],'Mandarina')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Mangos, mangostanes y guayabas'],'Mango')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Manzanas'],'Manzana')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Melones, otros (inc. cantaloupe'],'Melon')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Naranjas'],'Naranja')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Papas, patatas'],'Papa')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Papayas'],'Papaya')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Sand?as'],'Patilla')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Pepinos, pepinillos'],'Pepino cohombro')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Chiles, pimentos picantes, pimiento'],'Pimenton')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Pi?a tropical'],'Pina')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Azucar, remolacha'],'Remolacha')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Tomates, frescos'],'Tomate')
produccion.loc[:, 'Producto'] = produccion.loc[:, 'Producto'].replace(['Uvas'],'Uva')
produccion.head(3)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

     Elemento         Producto   A?o     Unidad    Valor
0  Producci?n  Aceite, algod?n  1961  toneladas  20098.0
1  Producci?n  Aceite, algod?n  1962  toneladas  21816.0
2  Producci?n  Aceite, algod?n  1963  toneladas  19238.0

In [1225]:
# Filtrar filas de los productos que nos interesan unicamente
produccion = produccion[produccion.Producto.isin([
                                            'Aguacate', 'Ahuyama', 'Arandano', 'Cebolla de bulbo', 'Cebolla de rama',
                                            'Espinaca', 'Lechuga', 'Mandarina', 'Mango', 'Manzana',
                                            'Melon', 'Naranja', 'Papa', 'Papaya', 'Patilla',
                                            'Pepino cohombro', 'Pimenton', 'Pina', 'Remolacha', 'Tomate de arbol',
                                            'Tomate', 'Uva'
                                            ])]
produccion.head(3)

       Elemento  Producto   A?o     Unidad    Valor
948  Producci?n  Aguacate  1961  toneladas  12000.0
949  Producci?n  Aguacate  1962  toneladas  12200.0
950  Producci?n  Aguacate  1963  toneladas  12300.0

In [1226]:
# Convertir de toneladas a KG la cantidad producida
for i in produccion.index:
  produccion["Valor"][i] = produccion["Valor"][i] * 1000
produccion.rename(columns = {'Valor':'Valor(KG)'}, inplace = True)
produccion['Unidad'] = produccion['Unidad'].replace(['toneladas'],'KG')
produccion.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       Elemento  Producto   A?o Unidad   Valor(KG)
948  Producci?n  Aguacate  1961     KG  12000000.0
949  Producci?n  Aguacate  1962     KG  12200000.0
950  Producci?n  Aguacate  1963     KG  12300000.0

In [1227]:
# Cambiamos el nombre de las columnas
produccion.rename(columns = {'Elemento':'CLASIFICACION'}, inplace = True)
produccion.rename(columns = {'Producto':'PRODUCTO'}, inplace = True)
produccion.rename(columns = {'A?o':'ANO'}, inplace = True)
produccion.rename(columns = {'Valor(KG)':'PRODUCCION (KG)'}, inplace = True)
produccion.head(3)

    CLASIFICACION  PRODUCTO   ANO Unidad  PRODUCCION (KG)
948    Producci?n  Aguacate  1961     KG       12000000.0
949    Producci?n  Aguacate  1962     KG       12200000.0
950    Producci?n  Aguacate  1963     KG       12300000.0

In [1228]:
# Mantener únicamente las columnas que nos interesan
datos_faostat = produccion[['PRODUCTO', 'ANO', 'PRODUCCION (KG)']]
datos_faostat.head(3)

     PRODUCTO   ANO  PRODUCCION (KG)
948  Aguacate  1961       12000000.0
949  Aguacate  1962       12200000.0
950  Aguacate  1963       12300000.0

In [1229]:
datos_faostat.shape

(944, 3)

## 3. Integración de los datos

In [1230]:
# Unir EVA y faostat
produccion_nacional = pd.merge(datos_faostat, EVA, 
            left_on=['PRODUCTO', 'ANO'], 
            right_on=['PRODUCTO', 'ANO'], 
            how='inner', 
            suffixes=('_FAOSTAT', '_EVA'))
produccion_nacional.shape

(38134, 9)

In [1231]:
produccion_nacional.head(3)

   PRODUCTO   ANO  ...  PRODUCCION (KG)_EVA CICLO DEL CULTIVO
0  Aguacate  2007  ...            2380000.0        PERMANENTE
1  Aguacate  2007  ...            2250000.0        PERMANENTE
2  Aguacate  2007  ...            2175000.0        PERMANENTE

[3 rows x 9 columns]

In [1232]:
# Unir produccion_nacional y precios_colombia
produccion_precios = pd.merge(produccion_nacional, precios_colombia, 
            left_on=['PRODUCTO','PERIODO'], 
            right_on=['PRODUCTO','PERIODO'], 
            how='inner', 
            suffixes=('_PRODUCCION', '_PRECIO'))
produccion_precios.shape

(38830, 10)

In [1233]:
produccion_precios.head(3)

           PRODUCTO   ANO  ...  CICLO DEL CULTIVO PRECIOxKG
0  Cebolla de bulbo  2013  ...        TRANSITORIO     816.0
1  Cebolla de bulbo  2013  ...        TRANSITORIO    1136.0
2  Cebolla de bulbo  2013  ...        TRANSITORIO    1800.0

[3 rows x 10 columns]

In [1234]:
# Cambiar nombre a las columnas
produccion_precios.rename(columns={'PRODUCCION (KG)_FAOSTAT':'PRODUCCION TOTAL COLOMBIA POR AÑO EN KG'}, inplace=True)
produccion_precios.rename(columns={'PRODUCCION (KG)_EVA':'PRODUCCION POR MUNICIPIO EN KG'}, inplace=True)
produccion_precios.shape

(38830, 10)

In [1235]:
# Unificar municipio por precio
produccion_precios = produccion_precios.groupby(['PRODUCTO','ANO','PRODUCCION TOTAL COLOMBIA POR AÑO EN KG','DEPARTAMENTO','MUNICIPIO','GRUPO','PERIODO','PRODUCCION POR MUNICIPIO EN KG','CICLO DEL CULTIVO']).PRECIOxKG.first()
produccion_precios = produccion_precios.to_frame()
produccion_precios.shape

(14284, 1)

In [1236]:
produccion_precios.head(30)

                                                                                                                                                           PRECIOxKG
PRODUCTO         ANO  PRODUCCION TOTAL COLOMBIA POR AÑO EN KG DEPARTAMENTO MUNICIPIO  GRUPO      PERIODO PRODUCCION POR MUNICIPIO EN KG CICLO DEL CULTIVO
Cebolla de bulbo 2013 442654000.0                             ANTIOQUIA    MEDELLIN   HORTALIZAS 2013A   154000.0                       TRANSITORIO           816.00
                                                                                                 2013B   126000.0                       TRANSITORIO          1366.67
                                                              BOYACA       BOYACA     HORTALIZAS 2013A   120000.0                       TRANSITORIO           816.00
                                                                                                 2013B   175000.0                       TRANSITORIO          1366.67
                                                                           CHISCAS    HORTALIZAS 2013A   200000.0                       TRANSITORIO           816.00
                                                                                                 2013B   40000.0                        TRANSITORIO          1366.67
                                                                           CHITA      HORTALIZAS 2013A   1000000.0                      TRANSITORIO           816.00
                                                                                                 2013B   360000.0                       TRANSITORIO          1366.67
                                                                           CHIVATA    HORTALIZAS 2013A   81000.0                        TRANSITORIO           816.00
                                                                                                 2013B   134000.0                       TRANSITORIO          1366.67
                                                                           CORRALES   HORTALIZAS 2013A   920000.0                       TRANSITORIO           816.00
                                                                                                 2013B   460000.0                       TRANSITORIO          1366.67
                                                                           CUCAITA    HORTALIZAS 2013A   4000000.0                      TRANSITORIO           816.00
                                                                                                 2013B   3000000.0                      TRANSITORIO          1366.67
                                                                           CUITIVA    HORTALIZAS 2013A   990000.0                       TRANSITORIO           816.00
                                                                                                 2013B   435000.0                       TRANSITORIO          1366.67
                                                                           DUITAMA    HORTALIZAS 2013A   2040000.0                      TRANSITORIO           816.00
                                                                                                 2013B   1050000.0                      TRANSITORIO          1366.67
                                                                           EL COCUY   HORTALIZAS 2013A   125000.0                       TRANSITORIO           816.00
                                                                                                 2013B   125000.0                       TRANSITORIO          1366.67
                                                                           EL ESPINO  HORTALIZAS 2013A   350000.0                       TRANSITORIO           816.00
                                                                                                 2013B   264000.0                       TRANSITORIO          1366.67
                                                                           FIRAVITOBA HORTALIZAS 2013A   1260000.0                      TRANSITORIO           816.00
                                                                                                 2013B   4480000.0                      TRANSITORIO          1366.67
                                                                           GAMEZA     HORTALIZAS 2013A   750000.0                       TRANSITORIO           816.00
                                                                                                 2013B   750000.0                       TRANSITORIO          1366.67
                                                                           GUICAN     HORTALIZAS 2013A   98000.0                        TRANSITORIO           816.00
                                                                                                 2013B   84000.0                        TRANSITORIO          1366.67
                                                                           IZA        HORTALIZAS 2013A   400000.0                       TRANSITORIO           816.00
                                                                                                 2013B   350000.0                       TRANSITORIO          1366.67

## 4. Normalización, construcción de datos y formato